body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #11283a;
    color: white;
}

header {
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
article {
    background-color: #0d526f;
    box-shadow: 8px 8px 24px 0px rgb(14, 14, 15);
    padding: 0px 10px 5px 10px;
    border-radius: 10px;
    width: 45%;
}

#send {
    cursor: pointer;
    color: white;
    width: 300px;
    background-color: #098baf;
    border-radius: 10px;
    border: none;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
#send:hover {
    background-color: #11283a;
    box-shadow: 8px 8px 24px 0px rgb(14, 14, 15);
}
#send:active {
    box-shadow: inset 8px 8px 24px 0px rgb(14, 14, 15);
}

#imie::placeholder {
    color: black;
}
#imie:focus::placeholder {
    color: white;
}
#imie {
    color: white;
    width: 300px;
    background-color: #098baf;
    border-radius: 10px;
    border: none;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
#imie:focus {
    background-color: #11283a;
    box-shadow: 8px 8px 24px 0px rgb(14, 14, 15);
}


.rasa {
    display: none;
}

#rasa::placeholder {
    color: black;
}
#rasa:focus::placeholder {
    color: white;
}
#rasa {
    color: white;
    width: 300px;
    background-color: #098baf;
    border-radius: 10px;
    border: none;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
#rasa:focus {
    background-color: #11283a;
    box-shadow: 8px 8px 24px 0px rgb(14, 14, 15);
}

label {
    font-weight: bolder;
}
select {
    cursor: pointer;
    color: white;
    width: 300px;
    background-color: #098baf;
    border-radius: 10px;
    border: none;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;

    appearance: none;
    
}
select:focus {
    background-color: #11283a;
    box-shadow: 8px 8px 24px 0px rgb(14, 14, 15);
}